.header-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.logo-header {
    font-family: "Montserrat", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    margin-left: 86px;
    margin-top: 30px;
    cursor: pointer;
    color: white;
}
.navigation-container {
    display: flex;
    max-width: 480px;
    min-height: 25px;
    text-align: center;
    margin-left: 259px;
    margin-top: 25px;
    gap: 50px;
}
.navigation-container :first-child {
    margin-right: 22px;
}
.nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #ffff;
}
%button-header {
    width: 115px;
    height: 36.8px;
    background-color: #A0583C;
    border-radius: 8px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: #EFEFF5;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
    &:hover {
        transform: scale(1.02);
    }
}
.sing-up-log-in {
    @extend %button-header;
    margin: 20px 15px 0 147px;
}
.get-the-app {
    @extend %button-header;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.get-the-app-img {
    width: 20.8px;
    height: 19.6px;
    margin: 0 1.5px 0 8px;
}