@use 'Section2' as a;
@mixin brands ($width: 205px, $height: 205px, $marginleft: 5px, $marginTop: 5px ) {
    width: $width;
    height: $height;
    margin-left: $marginleft;
    margin-top: $marginTop;
}
.section-3-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 18px
}
.section-3-title {
    @extend %title-section;
    width: 98.5%;
    color: #C08267;
    &::before,
    &::after {
    content: "";
    margin: 0 27px;
    background-color: #A0583C;
    }
    @media (max-width: 520px) and (min-width: 300px) {
            font-size: 16px;
        }
    @media (max-width: 300px) {
            font-size: 12px;
    }
}
.section-3-brands-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 334px;
    margin-bottom: 11px;
}
.Sturbucks {
    @include brands (205px, 205px, 0px, 50px );
    @media (max-width: 520px) {
        @include brands (155px, 155px, 0px, 50px );
    }
}
.Nescafe {
    @include brands (291px, 163px, 45px, 72px );
    @media (max-width: 520px) {
        @include brands (241px, 113px, 0px, 72px );
    }
}
.TimHortons {
    @include brands (282px, 282px, 42px, 13px );
    @media (max-width: 520px) {
        @include brands (182px, 182px, 0px, 13px );
    }
}
.DunkinDonuts {
    @include brands (231px, 292px, 42px, 13px );
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width: 520px){
        @include brands (181px, 242px, 0px, 13px );
    }
}

