@use 'sass:math';
.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 542px;
    margin: 32px 0 68px;
}
%title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    &::before,
    &::after {
    content: "";
    display: block;
    flex: 1;
    height: 5px;
    width: 100%;
  }
}
.section-2-title {
    @extend %title-section;
    width: 96%;
    color: #C08267;
    &::before,
    &::after {
    content: "";
    margin: 0 11px;
    background-color: #A0583C;
  }
}
.section-2-card-container {
    display: flex;
    justify-content: flex-start;
    width: 1175px;
    height: 453px;
    margin-top: 57px;
    position: relative;
}
@mixin card-max-widt() {
    @media (min-width: 1226px) {
        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                left: calc((50% - 130px) + (($i - 4) * 150px));
                z-index: $i;
            }
        }
    }
}

@mixin card-medium-width ($columns: 7, $step: 110px, $center-offset: 100px){
    @media (min-width: 830px) and (max-width: 1226px){
        &:nth-child(1) {
            left: calc((50% - 100px) - 220px);
            top: 4px;
            z-index: 1;
        }
        &:nth-child(2) {
            left: calc((50% - 100px) - 110px);
            top: 4px;
            z-index: 2;
        }
        &:nth-child(3) {
            left: calc((50% - 100px));
            top: 4px;
            z-index: 3;
        }
        &:nth-child(4) {
            left: calc((50% - 100px) + 110px);
            top: 4px;
            z-index: 2;
        }
        &:nth-child(5) {
            left: calc((50% - 100px) + 220px);
            top: 4px;
            z-index: 1;
        }
        &:nth-child(6) {
            left: calc((50% - 100px) - 220px);
            top: 320px;
            z-index: 1;
        }
        &:nth-child(7) {
            top: 320px;
            left: calc((50% - 100px) - 110px);
            z-index: 2;
        }
    }
}
@mixin card-min-width(){
    @media (max-width: 830px)and (min-width:490px){
        &:nth-child(1) {
            left: calc((50% - 100px) - 110px);
            top: 4px;
            z-index: 1;
        }
        &:nth-child(2) {
            left: calc((50% - 100px));
            top: 4px;
            z-index: 2;
        }
        &:nth-child(3) {
            left: calc((50% - 100px) + 110px);
            top: 4px;
            z-index: 1;
        }
        &:nth-child(4) {
            left: calc((50% - 100px) - 110px);
            top: 320px;
            z-index: 1;
        }
        &:nth-child(5) {
            left: calc((50% - 100px));
            top: 320px;
            z-index: 2;
        }
        &:nth-child(6) {
            left: calc((50% - 100px) + 110px);
            top: 320px;
            z-index: 1;
        }
        &:nth-child(7) {
            top: 640px;
            left: calc((50% - 100px) - 110px);
            z-index: 1;
        }
       
    }
}
.card-coffe-position-1 {
    position: absolute;
    @include card-max-widt();
    @include card-medium-width (9, 110px, 100px);
    @include card-min-width ();
}

