@use 'sass:math';
@use 'Section1' as s1;
.section-2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 542px;
    margin: 32px 0 68px;
}
%title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    &::before,
    &::after {
    content: "";
    display: block;
    flex: 1;
    height: 5px;
    width: 100%;
  }
}
.section-2-title {
    @extend %title-section;
    width: 96%;
    color: #C08267;
    &::before,
    &::after {
    content: "";
    margin: 0 11px;
    background-color: #A0583C;
  }
  @include s1.font-size-media ($size: 16px, $max-w: 520px, $min-w: 300px);
  @include s1.font-size-media ($size: 12px, $max-w: 300px, $min-w: 10px);
}
.section-2-card-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 500px;
    margin-top: 57px;
    position: relative;
    @media (min-width: 200px) and (max-width: 1008px) {
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 15px;
    }
}
@mixin card-max-widt($without, $minWidth, $maxWidth) {
    @media (min-width: $minWidth) and (max-width: $maxWidth) {
        position: absolute;
        &:nth-child(1){
            left: calc(((50%) - 65.75px) - (394.5px + ($without * 5)));
            z-index: 1;
        }
        &:nth-child(2){
            left: calc(((50%) - 65.75px) - (263px + ($without * 3)));
            z-index: 1;
        }
        &:nth-child(3){
            left: calc(((50%) - 65.75px) - (131.5px + $without));
            z-index: 1;
        }
        &:nth-child(4){
            left: calc(((50%) - 65.75px) + $without);
            z-index: 1;
        }
        &:nth-child(5){
            left: calc(((50%) - 65.75px) + (131.5px + ($without * 3)));
            z-index: 1;
        }
        &:nth-child(6){
            left: calc(((50%) - 65.75px) + (263px + ($without * 5)));
            z-index: 1;
        }
    }
}
@mixin card-min-widt($without, $minWidth, $maxWidth) {
    @media (min-width: $minWidth) and (max-width: $maxWidth) {
    }
}
.card-coffe-position-1 {
    @include card-max-widt(32px, 1270px, 100vw);
    @include card-max-widt(5px, 1008px, 1270px);
    @include card-min-widt(5px, 200px, 1008px);
}

